body {
    color:rgb(228, 224, 230)
}

.choice-container {
    display: flex;
    height: 70px;
    margin-bottom: 4rem;
    width: 100%;
    border-radius: 4px;
    background: rgb(11, 69, 66);
    font-size: 12px;
    min-width: 30px;
}
.choice-container:hover {
    cursor:pointer;
    box-shadow: 0 0.4rem 1.4rem 0 grey;
    transform: scale(1.02);
    transform: transform 100px;
}

.choice-prefix{
    padding: 2rem 2.5rem;
    color:white;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: linear-gradient(32deg, rgb(9, 241, 83), rgb(19, 155, 26)) 100%;
}

.incorrect {
    background: linear-gradient(32deg, red, rgb(154, 14, 26)) 100%;
}

/*heads up display*/
#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix{
    text-align: center;
    font-size: 20px;
}

.hud-main-text {
    text-align: center;
}

#question{
    font-size: 20px;

}
@media screen and (max-width: 768px) {
    .choice-container{
        min-width: 100px;
    }
}